/* HeroSection.css */
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-slider {
  height: 50%;
}

.hero-slider img {
  width: 100%;
  height: 50vh;
  object-fit: contain;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for contrast */
}

.hero-text h1 {
  color: #fff;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.hero-text p {
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.hero-button {
  background-color: #FF5733;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #C70039;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }
}
