/* App.css */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Global Styles */
:root {
  --primary-bg-color: #ebebeb; /* Light background with transparency */
  --secondary-bg-color: #333333; /* Dark background with transparency */
}

html,
body,
#root {
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

body {
  display: flex; /* Use flex to align children */
  flex-direction: column; /* Ensure children stack vertically */
  height: 100vh; /* Ensure body covers full height */
  background: linear-gradient(
    to right,
    var(--primary-bg-color),
    var(--secondary-bg-color)
  ); /* Gradient background */
}

main {
  flex: 1; /* Allow main content to grow */
  display: flex; /* Use flex for main content layout */
  flex-direction: column; /* Ensure children stack vertically */
}
